# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.pytest_cache/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Environment variables / secrets
.env
.env.*
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# macOS
.DS_Store
